In [2]:
import pandas as pd

In [4]:
# Read dataset without index into jupyter notebook
Df = pd.read_csv("Wellbeing_and_lifestyle_data_Kaggle.csv")

In [5]:
Df.head(100)

,Timestamp,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
0,7/7/15,3,2,2,5,0,5,2,0,1,...,7,5,5,1,4,0,5,36 to 50,Female,609.5
1,7/7/15,2,3,4,3,8,10,5,2,2,...,8,2,2,2,3,2,6,36 to 50,Female,655.6
2,7/7/15,2,3,3,4,4,10,3,2,2,...,8,10,2,2,4,8,3,36 to 50,Female,631.6
3,7/7/15,3,3,10,3,10,7,2,5,2,...,5,7,5,1,5,2,0,51 or more,Female,622.7
4,7/7/15,5,1,3,3,10,4,2,4,2,...,7,0,0,2,8,1,5,51 or more,Female,663.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,7/21/15,2,3,10,4,10,10,3,1,2,...,6,0,1,2,10,1,7,36 to 50,Male,678.8
96,7/21/15,1,5,0,1,1,3,4,1,2,...,10,10,6,2,3,0,1,36 to 50,Female,551.5
97,7/21/15,5,5,2,2,10,8,1,0,1,...,6,3,3,1,4,2,1,21 to 35,Female,639.2
98,7/21/15,1,3,10,6,10,10,8,4,1,...,7,5,1,2,7,5,3,21 to 35,Female,718.7
99,7/21/15,1,3,10,6,7,10,7,3,1,...,7,4,2,2,7,3,3,21 to 35,Female,697.9

In [8]:
# Export dataset with index
Df.to_csv("Wellbeing_and_lifestyle_data_with_Index.csv", index_label="Survey_ID")